* {
    margin: 0;
    padding: 0;
    font-family: Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

body {
    background-color: #222226;
}

.container {
    background-color: rgb(139, 134, 134);
    margin: 0 auto;
    width: 70%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
}

.flex__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #333;
    min-height: 500px;
    width: 50%;
    border-radius: 10px;
}

/*  */
.list__header,
.list__tasks {
    width: 90%;
}

.list__buttons {
    padding: 10px;
    min-height: 40px;
    color: #eee;
    /* background-color: rgb(175, 39, 39); */
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.list__buttons-count,
.list__buttons-filters,
.list__buttons-clear {
    cursor: pointer;
    transition: .1s;
    /* border: 1px solid #eee; */
}

.list__buttons-filters label:hover,
.list__buttons-clear:hover {
    color: #7dd6ff;
}

.list__buttons-count {
    position: absolute;
    left: 0;
    width: 25%;
    cursor: default;
}

.list__buttons-filters {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.list__buttons-clear {
    display: none;
    width: 25%;
    position: absolute;
    right: 0;
}

/* .list__buttons-filters {
    list-style-type: none;
    padding: 5px;
} */

input[type=radio] {
    display: none;
}

label[type=radio] {
    padding: 5px;
    cursor: pointer;
    transition: .2s;
}

.filter-selected {
    border: 1px solid #7dd6ff;
    border-radius: 3px;
    padding: 5px;
    color: #7dd6ff;
}

.list__tasks {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    background-color: rgb(206, 206, 206);
}

.list__tasks-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #2785b1;
    align-content: stretch;
    position: relative;
    box-shadow: 0px 8px 15px -5px rgb(95, 95, 95);
    transition: .2s;
}

.list__tasks-wrapper:nth-child(even) {
    background-color: #3098c9;
}


.list__tasks .completed {
    text-decoration: line-through;
    background-color: #9eb4be;
    color:rgb(95, 95, 95);
}

.list__tasks-input, 
.list__tasks-label {
    width: 80%;
    padding: 15px;
    flex-grow: 2;
    word-break: break-all;
}

.list__tasks-input {
    border-radius: 5px;
    border:none;
    transition:.2s;
    font-size: 18px;
}

.task__close {
    position: absolute;
    border-radius: 50%;
    border: none;
    color:maroon;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    transition: .2s ease-out;
    cursor: pointer;
    opacity: .5;
}

.task__close:hover {
    opacity: 1;
}

.task__close::after {
    content:'✖';
}

.checkbox {
    border:1px solid rgb(201, 25, 25);
    min-width: 20px;
    min-height: 20px;
    transition: .2s;
}

/* Стили окна ошибки */
.error__window {
    position: absolute;
    background-color: rgb(214, 36, 36);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    align-items: center;
    display: none;
    opacity: 0;
    color:#eee;
    text-align: center;
    font-size: 15px;
}

@keyframes popup
{
    from{
        opacity:0;
        transform: translateZ(0) scale(0, 0);
    }

    to{
        opacity:1;
        transform: translateZ(0) scale(1, 1);
    }
}

.error__window-anim {
    display: flex;
    animation: popup 0.5s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
}
